<div id="main">
  <header>
  </header>
  <div id="site_content">
    <div id="sidebar_container">

      <div class="sidebar">



        <%= render :partial => "/base/user" %>

      </div>

    </div>

    <div class="content">

      <h1 class="headLists">List of all posts on this site</h1>

      <%= paginate @posts,:window => 1 %>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>User</th>
            <th>Title</th>
            <th>Body</th>
            <th>Data</th>
            <th></th>
          </tr>
        <thead>
        <tbody>
        <% @posts.each do |post| %>
            <tr>
              <td><%= post.user_id %></td>
              <td><%= link_to post.title, post %></td>
              <td><%= post.body[1..3] %></td>
              <td><%= post.data %></td>
              <% if user_signed_in? %>
                  <% if current_user.id == post.user_id %>
                  <td class="user_td">
                    <span class="btn-group">
                      <%= link_to edit_post_path(post), :class => 'btn', :title => 'Редактировать пост ' + post.title do %>
                        <i class="icon-pencil"></i>
                      <% end %>

                      <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn', :title => 'Удалить пост ' + post.title do %>
                        <i class="icon-remove"></i>
                      <% end %>
                    </span>
                  </td>
                  <% else %>
                    <td></td>
                  <% end %>
              <% else %>
                  <td></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
      <br />

      <%= link_to 'New Post', new_post_path %>


    </div>

  </div>

  <footer>

  </footer>
</div>
