<div id="main">
  <header>
  </header>
  <div id="site_content">
    <div id="sidebar_container">

      <div class="sidebar">

        <%= render :partial => '/base/user'%>

      </div>

    </div>

    <div class="content">

      <p id="notice"><%= notice %></p>

      <p>
        <b>Title:</b>
        <%= @post.title %>
      </p>

      <p>
        <b>Body:</b>
        <%= @post.body %>
      </p>

      <p>
        <b>Data:</b>
        <%= @post.data %>
      </p>

      <p>
        <b>comments</b>
        <%= render :partial => '/comments/show' %>

      </p>
      <p>
        <%= render :partial => '/comments/add' %>

      </p>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>


    </div>

  </div>

  <footer>

  </footer>
</div>